<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">  
  <head>
    <title>Tiana's Banner Ad</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--style-->
    <style type="text/css">
			@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
			body { padding: 30px; font-family: 'Open Sans', sans-serif; }
		</style>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  
  
  
  <body>
    <a id="myAdLink" href="http://lynda.com" target="_blank">
      <div id="myAd">
        <div class="myAd_img" id="myAd_clouds"></div>
        <div class="myAd_img" id="myAd_photo"></div>
        <div id="myAd_txt1">
          <span id="myAd_ltr01">F</span><span id="myAd_ltr02">e</span><span id="myAd_ltr03">e</span><span id="myAd_ltr04">l</span><span id="myAd_ltr05">i</span><span id="myAd_ltr06">n</span><span id="myAd_ltr07">g</span> <span id="myAd_ltr08">s</span><span id="myAd_ltr09">t</span><span id="myAd_ltr10">r</span><span id="myAd_ltr11">e</span><span id="myAd_ltr12">s</span><span id="myAd_ltr13">s</span><span id="myAd_ltr14">e</span><span id="myAd_ltr15">d</span><span id="myAd_ltr16">?</span>
        
        </div>
        <div id="myAd_txt2">You could be here!</div>
        <div class="myAd_img" id="myAd_shadow"></div>
        <div class="myAd_img" id="myAd_txt3"></div>
        <div class="myAd_img" id="myAd_marker"></div>
        <div class="myAd_img" id="myAd_surfboard"></div>
      </div>   
    </a>
    
    
    
    
    

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    
    <!--I know you can use individual files rather than the entire TweenMax library file, but I figured it was
    better to just leave the single line of javascript for the sake of simplicity.
    
    Note to future self, though:
    For this to work without using the larger TweenMax library, you would need the CDN
    for CSSPlugin, EasePack, TweenLite, and TimelineMax.-->
    
    
  </body>
</html>
