/* styles */
/* called by your view template */

/*For Lynda tutorial*/

a#myAdLink {
  display:inline-block;
  background: #2480d6;
}

#myAd {
  width: 650px;
  height: 200px;
  position: relative;
  overflow: hidden;
  opacity: 0;
}

#myAd .myAd_img {
  position: absolute;
  background: url(https://cdn.glitch.com/bede2513-fd7f-4099-b1bf-49fa300d98fe%2Fgraphics.png?1553009583015) no-repeat 0px 0px;
}


#myAd #myAd_clouds {
  width: inherit;
  height: inherit;
  background-repeat: repeat;
  top: 0px;
  left: 0px;

}

#myAd #myAd_photo{
  width:inherit;
  height:143px;
  background-position: 0px -325px;
  bottom: 0px;
  left: 0px;
}


#myAd #myAd_txt1,
#myAd #myAd_txt2 {
  position:absolute;
  width:inherit;
  text-align:center;
  color:white;
  font-size:3em;
  top: 0px;
  left:0px;
  text-transform: uppercase;
  text-shadow: 0px 3px 3px rgba(0,0,102,0.5)

}


#myAd #myAd_marker{
  width:60px;
  height:95px;
  background-position: -243px -230px;
  top: 90px;
  left: 290px;
}

#myAd #myAd_shadow {
  width: 35px;
  height: 16px;
  background-position: -311px -236px;
  top: 175px;
  left: 306px;
}

#myAd #myAd_txt3 {
  width: 510px;
  height: 28px;
  background-position: -2px -202px;
  top: 58px;
  left: 73px;
}

#myAd #myAd_surfboard {
  width: 237px;
  height: 62px;
  background-position: -2px -233px;
  top: 110px;
  left: 390px;
}


#myAd #myAd_txt1 span {
  display:inline-block;
  
}

































* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
